.timer {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.names {
  display: flex;
  justify-content: space-around;
  width: 200px;
  color: grey;
  margin-right: 5px;
  margin-top: -20px;
}
